Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ %{REQUEST_FILENAME} [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.php -f
RewriteRule ^ %{REQUEST_FILENAME}/index.php [L]

# for admin view
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule . admin.php [L]
#for nomal
RewriteCond %{REQUEST_URI} !^/admin
RewriteRule . index.php [QSA,L]
